<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>

        </title>
        
    </head>
    <body>
        <div>
            <a asp-controller="Claims" asp-action="CreateClaim" class="primary-button" style="text-decoration: none; display: inline-block; text-align: center;">
                Create Claim
            </a>
            <a asp-controller="Claims" asp-action="PendingClaims" class="primary-button" style="text-decoration: none; display: inline-block; text-align: center;">
                Review Claims
            </a>
            <a asp-controller="UploadDocuments" asp-action="Index" class="primary-button" style="text-decoration: none; display: inline-block; text-align: center;">
                Upload Documents
            </a>
        </div>
       
    </body>
</html>
