<!DOCTYPE html>
    <html>
    <head>
        <title>Comming Soon</title>
    </head>
    <body>
        <h1>This feature is currently not availaible</h1>
        <br />
        <h3>The feature you have selected is not part of the scope for this current project</h3>
         <br />
        <h3>Any unavailable features will be added in Part 3 of the POE or at a later date by the developer</h3>
    </body>
    </html>