@model ClaimsBaseModel

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Claim</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <form asp-action="Delete" method="post" class="row" enctype="multipart/form-data">
            <input asp-for="ClaimId" hidden />
            <div class="p-3">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="Title" disabled class="form-control border shadow" required />
                    <label asp-for="Title" class="ms-2">Enter Claim Title</label>
                </div>

                <div class="form-floating py-1 col-12">
                    <textarea asp-for="Description" disabled class="form-control border shadow"></textarea>
                    <label asp-for="Description" class="ms-2">Enter Claim Description</label>
                </div>

                <div class="form-floating py-1 col-12">
                    <input asp-for="ClaimType" disabled class="form-control border shadow" required />
                    <label asp-for="ClaimType" class="ms-2">Enter Claim Type</label>
                </div>

                <div class="form-floating py-1 col-12">
                    <input asp-for="HoursWorked" type="number" disabled class="form-control border shadow" step="0.01" required />
                    <label asp-for="HoursWorked" class="ms-2">Hours Worked This Month</label>
                </div>

                <div class="form-floating py-1 col-12">
                    <input asp-for="HourlyRate" type="number" disabled class="form-control border shadow" step="0.01" required />
                    <label asp-for="HourlyRate" class="ms-2">Lecturer Hourly Rate</label>
                </div>

                <div class="form-floating py-1 col-12">
                    <textarea asp-for="AdditionalNotes" disabled class="form-control border shadow"></textarea>
                    <label asp-for="AdditionalNotes" class="ms-2">Additional Notes For Reviewer</label>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger w-100">
                            <i class="bi bi-trash-fill"></i> Delete Claim
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Claims" asp-action="Index" class="btn btn-secondary w-100">
                            <i class="bi bi-x-circle"></i> Cancel
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}